<!DOCTYPE html>
<html>
<head>
  <title>Place Order</title>
</head>
<body>
  <h2> Your Order</h2>
  <form method="POST">
    <label>Username:</label><br>
    <input type="text" name="username" required>
    <br><br>
    <label>Menu:</label><br>
    <select name="menu" required>
        <option value="">-- Choose your meal --</option>
        <option value="Veg Meal">Veg Meal</option>
        <option value="Non-Veg Meal">Non-Veg Meal</option>
        <option value="Paneer Rice">Paneer Rice</option>
        <option value="Chicken Biryani">Chicken Biryani</option>
        <option value="Mini Meals">Mini Meals</option>
    </select>
<br><br>
  <label>Quantity</label>
  <input type="number" name="quantity" required>
  <br><br>
  <button type="submit">Confirm order</button>
  </form>
 
  <a href="/">Back</a>
</body>
</html>
